./library/__pycache__/*
./bookshelf/__pycache__/*
./db.sqlite3
./bookshelf/static/*.jpg
./bookshelf/static/*.jpeg
./bookshelf/static/*.png
./bookshelf/static/*.webp
./bookshelf/static/txt/
./transfert.sh
