bookshelf/__pycache__
bookshelf/templatetags/__pycache__
graph_rendering/__pycache__
library/__pycache__
bookshelf/fixtures
bookshelf/migrations
bookshelf/static/imgs
bookshelf/static/txt
transfert.sh
format_html_commentary.py
db.sqlite3
.session
graph_rendering/graph.data
