library/__pycache__
bookshelf/__pycache__
bookshelf/templatetags/__pycache__
bookshelf/fixtures
bookshelf/migrations
bookshelf/static/imgs
bookshelf/static/txt
transfert.sh
format_html_commentary.py
db.sqlite3
.session
graph.data
