<!DOCTYPE html>
<html>

    <head>

        <title> Camilibrary - About </title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/about.css' %}" />
        <link rel="stylesheet" href="{% static 'css/menu.css' %}" />

    </head>

    <body>

        <c-menu></c-menu>

        <div id="english" class="TextBody DescriptionBorder">

            <p> Hello there ! My name is Camille (They/She), and welcome to my website ! </p>

            <p> While I created this website to learn more about the Django web framework, I also used this opportunity to create a website that
            could showcase every book that I ever read on the subject of gender studies and related fields (at least thoses that are connected to
            it in my mind). As such, you will find here numerous books whether they'd be more academic or less "rigourous". You'll also
            find there yuri manga. This is by design as I wanted to list every book I physically have and because they also fall into the
            "gender studies related" fields I spoke of. However as such, I didn't include every yuri I ever read, a list of which can be found below.
            Also, I would like to point out that the summaries I do are nothing but snapshots. My thinking is constantly evolving, I'm revisiting
            books, and so, what I might have said once about a book might be subject to change. </p>

            <p> Apart from reading, I'm also interested in computer science, and more specifically programming, and I invite you to go to my
            <a href="https://github.com/Akutchi">github</a> if that's your thing. </p>

            </p> Happy reading ! </p>

        </div>

        <div id="french" class="TextBody DescriptionBorder">

            <p>Bonjour ! Je m'appelle Camille (Iel/Elle, accord f/n) et bienvenu.e sur mon site !</p>

            <p> Développé dans le but d'apprendre Django, un framework web, ce site est une vitrine affichant tous les livres que j'ai pu lire concernant
            les études de genres et tous les domaines qui y sont liés (en tout cas, dans ma tête). Outre des livres académiques ou diverses BD, vous
            pourrez aussi y trouver les yuri (manga lesbien) que j'ai pu lire et dont j'ai une copie physique. Ceci n'est pas un hasard puisque, outre
            que cela puisse être qualifié.e de lecture lesbienne, cette longue chaine symbolique a aussi eu un impact sur ma vie, tout comme cela a
            pu être le cas de mes lectures plus académiques.
            Je souhaiterais de plus ajouter que les résumés que j'effectue ne sont que cela, des résumés. Dans le sens où ces derniers ne sont valides qu'à
            un instant donné et que, ma pensée étant changeante et pouvant revisiter des livres, les résumés que je post ici ne sont pas forcément représentatif
            de ce que je pense à l'heure actuelle. </p>

            <p> Ayant pris.e le parti de n'afficher sur ce site que les oeuvres dont j'avais une copie physique - c'est-à-dire au moins un tome - je
            n'ai pas ajoutée l'ensemble complet de mes lectures yuri et une liste complète est trouvable à la fin de cette page. </p>

            <p> Outre mes lectures, je suis aussi passionée par l'informatique, et plus particulièrement le développement web et logiciel, et vous invite
            à regarder mon <a href="https://github.com/Akutchi">github</a> si cela venait à vous interesser. </p>

            </p> Bonne visite ! </p>

        </div>

        <div class="TextBody DescriptionBorder">
            <h1> The ✨ yuri list ✨ </h1>
            {{yuri_list | linebreaks }}
        </div>

    </body>

    <script src="{% static 'js/index.js' %}"></script>
</html>