<!DOCTYPE html>
<html>

    <head>

        <title> Camilibrary - {{ book_info.Title }} </title>

        {% load static %}
        {% load whitespace_character %}
        {% load add_last %}
        
        <link rel="stylesheet" href="{% static 'css/book.css' %}" />
        <link rel="stylesheet" href="{% static 'css/menu.css' %}" />

    </head>

    <body>

        <c-menu></c-menu>

        <div id="BookInfo">

            <div id="ImageDiv">
                <img src="{% static "imgs/"|add_last:book_info.Image.name %}" />
            </div>

            <div id="InfoDiv">

                <div class="DescriptionBorder">
                    <p id="Description">{{ book_info.Description }}</p>
                </div>

                <div>
                    <p id="Authors"> Auteurice.s:</p>
                    <p id="Names">
                    {% for Auth in Authors %}
                        {{ Auth.value }}
                    {% endfor %}
                    </p>
                </div>
                <li id="TagList">
                    {% for Tag in Tags %}
                        <a href="{% url 'more_index' 1 %}?filter={{ Tag.value|whitespace_character:"-" }}" class="Tag" style="transform: rotate({{ Tag.style.TagRotation }}deg)">{{ Tag.value }}</a>
                    {% endfor %}
                </li>
            </div>
        </div>

        <div>
            <p id="Commentary"> Commentaire </p>
            {{ CommentaryText | safe }}
        </div>
    </body>
    <script src="{% static 'js/index.js' %}"></script>
</html>
</html>
