<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        {% load whitespace_character %}
        <link rel="stylesheet" href="{% static 'css/book.css' %}" />
        <link rel="stylesheet" href="{% static 'css/menu.css' %}" />

    </head>

    <body>

        <c-menu></c-menu>

        <div id="BookInfo">

            <div id="ImageDiv">
                <img src="{% static book_info.Image %}" />
            </div>

            <div id="InfoDiv">

                <div class="DescriptionBorder">
                    <p id="Description">{{ book_info.Description }}</p>
                </div>

                <div>
                    <p id="Authors"> Auteurice.s:</p>
                    <p id="Names">
                    {% for Auth in Authors %}
                        {{ Auth.value }}
                    {% endfor %}
                    </p>
                </div>
                <li id="TagList">
                    {% for Tag in Tags %}
                        <a href="{% url 'more_index' 1 %}?filter={{ Tag.value|whitespace_character:"-" }}" class="Tag" style="transform: rotate({{ Tag.style.TagRotation }}deg)">{{ Tag.value }}</a>
                    {% endfor %}
                </li>
            </div>
        </div>

        <div>
            <p id="Commentary"> Commentaire </p>
        </div>
    </body>
</html>