<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <iframe id='iframe' src="https://www.polya.camilibrary.fr/embed/cdc2834f5600f2ea7b206d8b25cfdcc1916a7df4" width="980" height="520" style="border:0;display:block;margin:auto auto;"></iframe>
  
    <p style="margin: 0% 21% 0% 21%;">Note:</p>
    <p style="margin: 0% 21% 0% 21%;">Outre le fait que je n'ai pas inclu 100% des auteurices que j'ai pue lire, j'ai du évidemment faire des choix de modélisation. En effet, et de sorte à rendre le graph lisible, de nombreux liens n'ont pas été représentés.</p>
  </body>
</html>
