<!DOCTYPE html>
<html>

    <head>

        <title> Camilibrary </title>

        {% load static %}

        <link rel="stylesheet" href="{% static 'css/index.css' %}" />
        <link rel="stylesheet" href="{% static 'css/searchbar.css' %}" />
        <link rel="stylesheet" href="{% static 'css/menu.css' %}" />
        <link rel="stylesheet" href="{% static 'css/recent.css' %}" />
        <link rel="stylesheet" href="{% static 'css/tag_system.css' %}" />
        <link rel="stylesheet" href="{% static 'css/bookshelf.css' %}" />
        <link rel="stylesheet" href="{% static 'css/pagination.css' %}" />

        <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no" />
    </head>

    <body>

        <c-menu></c-menu>

        <div id="SearchDiv" onfocusin="BookSearch()" onfocusout="HideSearch()">
            <input id="SearchBar" placeholder="search for a book..." onkeyup="BookSearch()"/>
            <div id="SearchWrapper">
            </div>
        </div>

        <div class="RecentWrapper">

            <div class="SectionTitle">
                <p> Ajoutés récemment <p>
            </div>

            <c-recently-added :recent="recent"></c-recently-added>
        </div>

        <div class="Wrapper">

            <div class="SectionTitle">
                <p> Tous mes livres <p>
            </div>

            <c-tag-system :tags="tags" :query="pagination.query"></c-tag-system>
            <c-bookshelf-k :books="page_books"></c-bookshelf-k>
            <c-pagination-system :pagination="pagination"></c-pagination-system>
        </div>

    </body>

    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/location.js' %}"></script>
</html>
