<!DOCTYPE html>
<html>

    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'index.css' %}" />
    </head>

    <body>

        <div class="BookWrapper">
            {% if context %}
                {% for book in context %}

                    <div class="Book">
                        <img src={% static book.info.Image %}>

                        <p>{{book.info.Title}} écrit par

                            {% for Auth in book.authors %}
                                <span>{{Auth}}</span>
                            {% endfor %}

                        </p>
                    </div>

                {% endfor %}
            {% endif %}
        </div>

    </body>
</html>