body {

    background-color: lightskyblue;
}

.TextBody {

    margin-left: 11rem;
    margin-right: 11rem;
    margin-bottom: 1rem;

    padding: 1rem;
}

/* modified from https://getcssscan.com/css-buttons-examples */
.DescriptionBorder {

    --thickness: 3px;   /* border thickness */
    --squishing: .4em;
    --shift: calc(100% - var(--thickness) - 2*var(--squishing));

    --top_left: conic-gradient(from 90deg at var(--thickness) var(--thickness),#0000 90deg,var(--color) 0);
    --right: var(--squishing)/var(--shift);
    --bottom: var(--shift);

    background: var(--top_left) var(--squishing) var(--right) var(--bottom);

    --color: #373B44;
    color: var(--color);

    background-color: white;
}

a {

    color: rgb(55, 148, 209);
    text-decoration: none;
}

a:active {

    color: rgb(55, 148, 209);
    text-decoration: none;
}