@import url(https://fonts.bunny.net/css?family=abeezee:400,400i);
@import url(https://fonts.bunny.net/css?family=akshar:400);
@import url(https://fonts.bunny.net/css?family=share-tech-mono:400);


.BookWrapper, .Recent {

    position: relative;
    z-index: 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;

    margin-left: 2%;
    margin-right: 2%;

    background-color: lightskyblue;
}

#SearchWrapper {

    visibility: hidden;

    position: absolute;
    z-index: 1;

    padding : 0.5em;

    border: 1px solid black;
    background-color: lightskyblue;
}

#SearchWrapper > div > div {

    display: flex;
    column-gap: 1em;
}

#SearchWrapper > div > div > img {

    width: 100px;
    height: 155.5px;
    object-fit: cover;
}

.Recent {
    margin-bottom: 2%;
}

.SectionTitle {

    font-family: 'Share Tech Mono', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: underline;

    margin-left: 2%;
}








