@import url(https://fonts.bunny.net/css?family=abeezee:400,400i);
@import url(https://fonts.bunny.net/css?family=akshar:400);
@import url(https://fonts.bunny.net/css?family=share-tech-mono:400);

.BookWrapper, .Recent {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
    overflow-y: auto;

    margin-left: 2%;
    margin-right: 2%;

    background-color: lightskyblue;
}

.Recent {
    margin-bottom: 2%;
}

.SectionTitle {

    font-family: 'Share Tech Mono';
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: underline;

    margin-left: 2%;
}








