@import url(https://fonts.bunny.net/css?family=share-tech-mono:400);

nav {

    position: fixed;
    display: flex;

    top: 1rem;
    right: -1rem;

    margin: 0rem 2.2rem 0rem 1rem;
}

#menu {

    display: flex;
    align-items: center;
    text-justify: center;

    width: 0rem;
    visibility: collapse;

    border-top: 0.5px solid lightgray;
    border-left: 0.5px solid lightgray;
    border-bottom: 0.5px solid gray;

    background-color: lightskyblue;
}

#open {
    padding: 0.6rem 0.5rem 0.5rem 0.5rem;
    background-color: lightskyblue;
}

#menu > a {

    margin-left: 0.5rem;
    margin-right: 0.3rem;

    font-family: 'Share Tech Mono', sans-serif;
    font-weight: 400;

    letter-spacing: 2px;

    text-decoration: none;
    text-transform: uppercase;

    color: black;
}

#menu > a:active {

    text-decoration: none;
    color: black;
}