#TagSystem {

    display: flex;
    margin-right: 2.8rem;
}


#TagList {

    z-index: 0;

    width: 102.6rem;
    height: 50px;

    margin-left: 1rem;
    margin-right: 1rem;

    overflow: scroll;
    text-wrap: nowrap;
}

#ClearDiv {

    margin-left: 2%;
    z-index: 2;
}

.ClearButton {

    height: 48%;
    width: 100%;
}

/* taken from https://getcssscan.com/css-buttons-examples */
.button-54 {

    position: relative;

    font-family: "Open Sans", sans-serif;
    font-size: 16px;

    letter-spacing: 2px;

    text-decoration: none;
    text-transform: uppercase;

    border: 3px solid;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;

    padding: 0.25em 0.5em;
    margin-left: 1%;

    color: #000;
    background-color: white;

    cursor: pointer;
}

.button-54:active {

  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

.NaviButton {

    height: 2.1rem;
}