<div id="TagSystem">

    {% load whitespace_character has_tag remove_last not_empty_add %}

    <a href={% url 'more_index' 1%}>
        <button class="button-54 ClearButton" onclick="ClearTags()">Effacer</button>
    </a>

    <button id="LeftArrow" class="button-54 NaviButton" onclick="Move(LeftArrow)">&lt;</button>

    <div id="TagList">

        {% if tags %}
            {% for T in tags %}

                {% if query|has_tag:T.TagName %}
                    <a href="{% url 'more_index' 1 %}{{query|remove_last}}">
                        <button style="background-color: rgb(211, 211, 211)" class="button-54"> {{ T.TagName }}</button>
                    </a>

                {% else %}
                    <a href="{% url 'more_index' 1 %}{{ query|not_empty_add:"+" }}{{ T.TagName|whitespace_character:"-" }}">
                        <button class="button-54">{{ T.TagName }}</button>
                    </a>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>

    <button id="RightArrow" class="button-54 NaviButton" onclick="Move(RightArrow)">&gt;</button>

</div>