<div id="TagSystem">

    {% load extract_tag %}

    <div id="ClearDiv">
        <a href={% url 'more_index' 1%} class="button-54 ClearButton" onclick="ClearTags()">Effacer</a>
    </div>
    <div id="TagList" onscroll="ToogleBlurryEnd()">
    <div id="LeftBlurDiv"></div>
    <div id="RightBlurDiv"></div>

        {% if tags %}
            {% for T in tags %}

                {% if T.TagName == query|extract_tag %}
                    <button id="{{ T.TagName | cut:" " }}" style="background-color: rgb(211, 211, 211)" class="button-54" onclick="ToogleTag( {{ T.TagName | cut:" " }} )"> {{ T.TagName }} </button>
                {% else %}
                    <button id="{{ T.TagName | cut:" " }}" class="button-54" onclick="ToogleTag( {{ T.TagName | cut:" " }} )"> {{ T.TagName }} </button>
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>
</div>